<a href="https://colab.research.google.com/github/romanrudniev/MachineLearning/blob/main/%D0%90%D0%BD%D0%B0%D0%BB%D1%96%D0%B7%D0%B0%D1%82%D0%BE%D1%80_%D0%A4%D1%96%D0%BB%D1%8C%D0%BC%D1%96%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Проєкт "Аналізатор фільмів"

Імпорт бібліотек

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Створення дф та вивід перших п`яти рядків

In [ ]:
url = "movies.csv"

movies_df = pd.read_csv(url)

movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Інформація про таблицю

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30943 entries, 0 to 30942
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  30943 non-null  object
 1   belongs_to_collection  3460 non-null   object
 2   budget                 30943 non-null  object
 3   genres                 30943 non-null  object
 4   homepage               5032 non-null   object
 5   id                     30943 non-null  object
 6   imdb_id                30931 non-null  object
 7   original_language      30940 non-null  object
 8   original_title         30943 non-null  object
 9   overview               30572 non-null  object
 10  popularity             30939 non-null  float64
 11  poster_path            30774 non-null  object
 12  production_companies   30941 non-null  object
 13  production_countries   30941 non-null  object
 14  release_date           30910 non-null  object
 15  revenue                30939 non-null  float64
 16  runtime                30856 non-null  float64
 17  spoken_languages       30939 non-null  object
 18  status                 30894 non-null  object
 19  tagline                16183 non-null  object
 20  title                  30938 non-null  object
 21  video                  30938 non-null  object
 22  vote_average           30938 non-null  float64
 23  vote_count             30938 non-null  float64
dtypes: float64(5), object(19)
memory usage: 5.7+ MB

вивід мінімального максимального і тд

In [ ]:
movies_df.describe()

         popularity       revenue       runtime  vote_average    vote_count
count  30939.000000  3.093900e+04  30856.000000  30938.000000  30938.000000
mean       3.495481  1.495586e+07     97.340939      5.776737    143.342621
std        6.152880  7.368835e+07     34.224786      1.725488    569.649973
min        0.000000  0.000000e+00      0.000000      0.000000      0.000000
25%        0.541000  0.000000e+00     87.000000      5.200000      4.000000
50%        1.564398  0.000000e+00     96.000000      6.100000     14.000000
75%        5.223358  0.000000e+00    108.000000      6.800000     52.000000
max      547.488298  2.787965e+09   1256.000000     10.000000  14075.000000

Попередння обробка та очищення даних

In [ ]:
movies_df.isnull().sum()

adult                        0
belongs_to_collection    27483
budget                       0
genres                       0
homepage                 25911
id                           0
imdb_id                     12
original_language            3
original_title               0
overview                   371
popularity                   4
poster_path                169
production_companies         2
production_countries         2
release_date                33
revenue                      4
runtime                     87
spoken_languages             4
status                      49
tagline                  14760
title                        5
video                        5
vote_average                 5
vote_count                   5
dtype: int64

In [ ]:
movies_df.dropna(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 9 to 30805
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  600 non-null    object
 1   belongs_to_collection  600 non-null    object
 2   budget                 600 non-null    object
 3   genres                 600 non-null    object
 4   homepage               600 non-null    object
 5   id                     600 non-null    object
 6   imdb_id                600 non-null    object
 7   original_language      600 non-null    object
 8   original_title         600 non-null    object
 9   overview               600 non-null    object
 10  popularity             600 non-null    float64
 11  poster_path            600 non-null    object
 12  production_companies   600 non-null    object
 13  production_countries   600 non-null    object
 14  release_date           600 non-null    object
 15  revenue                600 non-null    float64
 16  runtime                600 non-null    float64
 17  spoken_languages       600 non-null    object
 18  status                 600 non-null    object
 19  tagline                600 non-null    object
 20  title                  600 non-null    object
 21  video                  600 non-null    object
 22  vote_average           600 non-null    float64
 23  vote_count             600 non-null    float64
dtypes: float64(5), object(19)
memory usage: 117.2+ KB

в стовбчику homepage пісті рядки заміняємо на with out link

In [ ]:
movies_df['homepage'].fillna('with out link', inplace=True)
#movies_df['homepage'].fillna(df_movies[''].mean(), inplace=True)

/tmp/ipython-input-2979500923.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_df['homepage'].fillna('with out link', inplace=True)

вивід перших. 5 рядків

In [ ]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

створення стовбчику release_year в який заносими рік виходу зі стовпчику release_date

In [ ]:
movies_df['release_year'] = pd.to_datetime(movies_df['release_date']).dt.year

вивід перших 5 рядків

In [ ]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",with out link,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",with out link,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",with out link,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",with out link,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,1995

вивід стовпчіків release_date, release_year

In [ ]:
movies_df[['release_date', 'release_year']]

      release_date  release_year
2       1995-12-22          1995
4       1995-02-10          1995
9       1995-11-16          1995
12      1995-12-22          1995
18      1995-11-10          1995
...            ...           ...
45240   1973-04-13          1973
45241   1972-09-28          1972
45258   2017-07-21          2017
45353   1967-03-15          1967
45358   1969-05-29          1969

[2572 rows x 2 columns]